@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/components";

// Reset CSS navigateur
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Styles de base - Mobile first
body {
  font-family: $font-stack;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: $title-font;
}

.logoheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  padding: 14px 89px 13px 89px;

  img {
    width: 197px;
    height: 36px;
  }
}

// Tablettes (min-width: 768px)
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

// Desktop (min-width: 1024px)
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
