@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/components";

// Styles de base - Mobile first
body {
  font-family: $font-stack;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: $title-font;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: $white;

  .logoHeader {
    padding: 14px 89px 13px 89px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  .logoTitle {
    padding: 0px 19px 0px 16px;
    font-family: $title-font;
    font-size: 30px;
  }
  .search {
    display: flex;
    flex-direction: row;
  }
  input {
    width: 100%;
    border: none;
    height: 50px;
    background: $light-grey;
  }
}

// Tablettes (min-width: 768px)
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

// Desktop (min-width: 1024px)
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
