@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/layout";
@import "partials/components";
@import "partials/restaurant";

// Styles de base - Mobile first
body {
  font-family: $font-stack;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: $font-stack;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

// HEADER

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: $white;

  .logoHeader {
    display: flex;
    height: 63px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
  }

  .logoTitle {
    font-family: $title-font;
    font-size: 30px;
  }

  .formNav {
    background: $light-grey;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .locationIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-grey;
  }
  form {
    display: flex;
    justify-content: center;
    gap: 17px;
  }
  input {
    width: 130px;
    text-align: center;
    border: none;
    height: 50px;
    font-weight: 500;
    color: $dark-grey;
    background: $light-grey;
  }
}

// SECTION EXPLORER + BUTTON

.Explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 0 57px;
  gap: 27px;
  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    width: 275px;
    height: 68px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  h2 {
    width: 315px;
    height: 46px;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    color: $dark-grey;
  }
}

//SECTION FONCTIONNEMENT

.Fonctionnement {
  background: $white;
  padding: 48px 20px 68px;
}

.stepsFonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
  padding: 0 10px 0;
  .steps {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 72px;
    background: $background-color;
    border-radius: 20px;
    box-shadow: $shadow-step;
    position: relative;
    padding-left: 30px;
  }
  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: $primary-color;
    color: $white;
    font-size: 14.182px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: -15px;
  }
  .icon-grey {
    color: $icon-grey;
  }
  .icon-purple {
    color: $primary-color;
  }
  .stepsText {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.restaurants {
  padding: 48px 20px 68px;

  .restaurantsCards {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 30px;
  }
}

// FOOTER

footer {
  color: $white;
  background: $dark-grey;
  padding: 22px 25px;

  .footerTitle {
    font-family: $title-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: $font-stack;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .icon-footer {
    width: 11px;
    height: 13px;
    margin-right: 11px;
  }

  a {
    color: $white;
  }
}

// Tablettes (min-width: 768px)
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

// Desktop (min-width: 1024px)
@media (min-width: 1024px) {
  body {
    font-size: 20px;
  }
}
