@import "variables";
@import "reset";

// BOUTON CTA

.btnGradient {
  width: 218px;
  height: 50px;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  color: #fff;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  background: linear-gradient(
    193deg,
    $secondary-color -11.44%,
    $primary-color 123.93%
  );
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      linear-gradient(201deg, $secondary-color -5.2%, $primary-color 110.74%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    opacity: 1;
  }
}

// CARTE RESTAURANT

.Card {
  text-decoration: none;
  position: relative;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);

  .cardContent {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px;
    color: $black;
    background: $white;
    border-radius: 0 0 15px 15px;
  }

  .badgeNew {
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .cardTitle {
    font-family: $font-stack;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .cardSubtitle {
    font-family: $font-stack;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .iconHeart {
    width: 22px;
    height: 21px;
  }

  .cardImg {
    height: 200px;
    overflow: hidden;
    object-fit: cover;
  }

  .verticalPic {
    object-position: 0 -139px;
  }

  img {
    border-radius: 15px 15px 0 0;
    background-repeat: no-repeat;
  }
}

// BADGE "NOUVEAU" CARTES RESTAURANTS

.badgeNew {
  width: 80px;
  height: 29px;
  padding: 6px 8px 6px;
  border-radius: 2px;
  background: $tertiary-color;
  color: $color-font-badge;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
