.restaurantHeader {
  .logoHeader {
    gap: 42px;
    padding: 14px 89px 13px 17px;
  }
}

.restaurantPage {
  background: $background-color;
  border-radius: 35px 35px 0 0;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -50px;
  max-width: 1024px;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .Menu {
    padding: 0 15px 0;
    display: flex;
    gap: 12px;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 0.4s forwards;
  }

  .animationDelay1 {
    animation-delay: 0.1s;
  }

  .animationDelay2 {
    animation-delay: 0.2s;
  }

  .animationDelay3 {
    animation-delay: 0.3s;
  }

  .titlePage {
    display: flex;
    align-items: center;
    margin: 32px 17px 0;
    gap: 40px;
  }

  h3 {
    font-family: $title-font;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h5 {
    font-family: $font-stack;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
  }
  h5::after {
    content: "";
    background-color: $tertiary-color;
    width: 40px;
    height: 3px;
    position: absolute;
    top: 22px;
    left: 1px;
  }

  .detailPlat {
    position: relative;
    display: flex;
    align-items: flex-end;
    background: $white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .textPlat {
      flex: 1;
      min-width: 0;
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .checkPlat {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: -59px;
      width: 59px;
      height: 70px;
      background-color: $tertiary-color;
      color: white;
      border-radius: 0 15px 15px 0;
      transition: all 0.2s linear 0s;

      i {
        font-size: 20px;
      }
    }

    &:hover .checkPlat {
      right: 0;
    }

    .prixPlat {
      padding-left: 10px;
      transition: transform 0.2s linear;
    }

    &:hover .prixPlat {
      transform: translateX(-59px);
    }

    &:hover .textPlat {
      transition: all 0.2s linear 0s;
      padding-right: 50px;
    }

    .titlePlat {
      color: $black;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .subtitlePlat {
      color: $black;
      font-family: Roboto;
      font-size: 15.043px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
    }
  }
}

.buttonCommander {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

// Desktop (min-width: 1024px)
@media (min-width: 1024px) {
  .restaurantHeader {
    .logoHeader {
      gap: 572px;
      padding: 30px 621px 32px 17px;
    }
  }

  .pageCover {
    img {
      height: 283px;
      object-fit: cover;
      object-position: 0 -400px;
    }
  }

  .bgRestaurant {
    display: block;
    padding: 0 193px;
    background: $white;
  }

  .restaurantPage {
    background: $light-grey;
    margin-left: auto;
    margin-right: auto;

    .titlePage {
      justify-content: center;
    }

    .detailPlat {
      &:hover .textPlat p {
        text-overflow: clip;
        white-space: normal;
        overflow: visible;
        width: 400px;
      }
    }
  }
}
