.restaurantHeader {
  .logoHeader {
    gap: 42px;
    padding: 14px 89px 13px 17px;
  }
}

.restaurantPage {
  background: $background-color;
  border-radius: 35px 35px 0 0;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: -50px;
  .Menu {
    padding: 0 15px 0;
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  .titlePage {
    display: flex;
    align-items: center;
    margin: 32px 17px 0;
    gap: 40px;
  }
  h3 {
    font-family: $title-font;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h5 {
    font-family: $font-stack;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
  }
  h5::after {
    content: "";
    background-color: $tertiary-color;
    width: 40px;
    height: 3px;
    position: absolute;
    top: 136px;
    left: 15px;
  }
  .detailPlat {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: $white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  }
  .titlePlat {
    color: $black;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .subtitlePlat {
    color: $black;
    font-family: Roboto;
    font-size: 15.043px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .buttonCommander {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}

// Tablettes (min-width: 768px)
// @media (min-width: 768px) {
//   .restaurantHeader {
//     .logoHeader {
//       gap: 400px;
//       padding: 30px 386px 32px 17px;
//     }
//   }
// }

// Desktop (min-width: 1024px)
@media (min-width: 1024px) {
  .restaurantHeader {
    .logoHeader {
      gap: 572px;
      padding: 30px 621px 32px 17px;
    }
  }

  .pageCover {
    img {
      height: 283px;
      object-fit: cover;
      object-position: 0 -400px;
    }
  }

  .bgRestaurant {
    display: block;
    padding: 0 193px;
    background: $white;
  }

  .restaurantPage {
    background: $light-grey;
    padding: 0 210px;

    .titlePage {
      justify-content: center;
    }
  }
}
