//Colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$background-color: #f6f6f6;
$light-grey: #eaeaea;
$dark-grey: #353535;
$white: #fff;

// Fonts
$font-stack: font-family, "Roboto", sans-serif;
$title-font: font-family, "Shrikhand", serif;
