//Colors
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$background-color: #f6f6f6;
$light-grey: #eaeaea;
$dark-grey: #353535;
$icon-grey: #7e7e7e;
$black: #000;
$white: #fff;

$color-font-badge: #008766;

// Fonts
$font-stack: font-family, "Roboto", sans-serif;
$title-font: font-family, "Shrikhand", serif;

//Shadows
$shadow-step: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

//Loading animation
$prog-bar-dur: 3s;
$prog-bar-delay: 0s;
